!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title T-Com sucks...
    meta(name="description",content="T-Com Montenegro is really the worst company ever. Help us to change this!")
    meta(name="keywords",content="t-com sucks,T-Com Montenegro,T-Com Crna Gora,worst company ever,bad service,lame")
    link(rel='stylesheet',media='screen',href='/styles.css')
    link(rel='stylesheet',media='screen',href='/proper.css')
    link(href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah',rel='stylesheet',type='text/css')
    script(src="/socket.io/socket.io.js")
    script(src='/static.js')
    script
      $(function(){  AppController.init();});
  body
    #content-container
      article#intro-page.page
        header
          h1 Hey! We are sick and tired of T-Com's service.
          h2.cursive If you feel the same&nbsp;&mdash;<br>click this button and become part of our community
        img(src='/images/arrow-down.png')
        a#vote-button.button T-Com sucks!
        section#people-count-container-header
        section#people-count-container
          .people-count-label.cursive It's already
          #people-count
            - for (var digit in digits)
              span.digit
                span= digits[digit]
          .people-count-label.cursive people with us!
        section#people-count-container-footer
        aside#social-box
           header
             h1 You can help to spread this in the world
             h2.pink-cursive Click something here
             img(src='/images/arrow-up.png')
           section
             .g-plusone(data-size="standard",data-count="true")
             a(href="http://twitter.com/share",data-count="horizontal").twitter-share-button Tweet
        aside#toolbar-box
          h1 Want ot read some stories or share yours?
          a(href='/tcom/stories').pink-cursive It's there
          img(src='/images/arrow-right.png')
      article#stories-page.page.hidden
        header
          nav
            ul
              li
                a(href="/tcom/intro").nav-link Home
              li
                a(href="/tcom/new-story").nav-link Tell us your story!
        section#stories-previews
      article#new-story-page.page.hidden
        header
          h1 Write your story!
          nav
            ul
              li
                a(href="/tcom/intro").nav-link Home
              li
                a(href="/tcom/stories").nav-link Stories
        section.content(contenteditable='true')
          | Start type here to create your story about T-Com
        aside
          input#new-story-author(type='text',placeholder='Your name (optional)').input
          input#new-story-tags(type='text',placeholder='Put tags for the story').input
          button#save-story-button.button Publish
      article#story-page.page.hidden
        section.social-toolbar
          .g-plusone(data-size="standard",data-count="true")
          a(href="http://twitter.com/share",data-count="horizontal").twitter-share-button Tweet
        section.comments
    footer
      h1 The only reason we do it &mdash; it's to draw attention to this problem in Montenegro
    script#story-tpl(type="text/html")
      <section class="story-preview-text"><%= shortText %></section>
      <section class="extra-story-info">
      <span><%= author %></span>
      <time datetime="<%= date %>" pubdate><%= pubDate %></time>
      </section>
      <footer class="story-preview-toolbar"><a class="link" href="/tcom/stories/<%= _id %>">Read</a></footer>
    script#story-full-view-tpl(type="text/html")
      <header>
      <nav>
      <ul>
      <li><a href="/tcom/intro" class="nav-link">Home</a></li>
      <li><a href="/tcom/stories" class="nav-link">Stories</a></li>
      <li><a href="/tcom/new-story" class="nav-link">Tell us your story!</a></li>
      </ul>
      </nav>
      </header>
      <section class="story-view-text"><%= text %></section>
      <aside>
      <span>Author: <%= author %></span>
      <time datetime="<%= date %>" pubdate></time>
      </aside>
    script
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    script(src="http://platform.twitter.com/widgets.js")
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25236340-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    script#people-counter-tpl(type="text/html")
      <% _.each(digits, function(digit) { %> <span class="digit"><span><%= digit %></span></span> <% }); %>
