@import 'nib'
global-reset()

pink = #ff0077
darkPink = #e20074
greyText = #6c6b6b

h1
  font-weight:normal

body
  background: #f4f4f4
  font-family: Arial, sans-serif

body > footer
  text-align: center
  color: grey
  font-size: 12px

#people-count-container-header
  background-image:url(images/top.png)
  width:1024px
  height:123px
  margin: 0 auto

#people-count-container-footer
  background-image:url(images/bottom.png)
  width: 1024px
  height: 135px
  margin: -60px auto 80px
  & h1
    margin-top: 60px
    text-align: center
    color: greyText
    font-size: 12px

#content-container
  background: #f4f4f4
  min-height: 550px
  width: 1024px
  margin: 40px auto 20px
  border-top: 6px dotted pink
  border-bottom: 6px dotted pink
  text-align: center
  position: relative
  & #people-count-container
    margin-top: -56px
    z-index: 1
    & div
      display: inline-block
      vertical-align: middle
  & #people-count
    margin:0 20px
    height: 86px
  & .people-count-label
    margin-top: 0

#intro-page
  & > header
    & h1
      font-size: 40px
      color: pink
      margin-bottom: 20px
      margin-top: 10px
  & > img
    margin-right: 10px
    margin-left: -100px

#toolbar-box
  absolute: right 10px bottom 50px
  text-align:right
  & h1
    font-size: 18px
    width: 200px
    display: block
    margin-bottom: 10px
  & a
    margin-right: 10px

#social-box
  absolute: left 10px bottom 10px
  & header
  & section
    display: inline-block
    vertical-align:middle
  & header
    width: 200px
    margin-right: 20px
    text-align: right
    & h1
      font-size: 18px
      display: block
      margin-bottom: 10px
    & img
      margin-top: 20px
      margin-left: 150px
  & section > *
    display: block

span.digit
  background-image:url(images/counter.png)
  width: 55px
  height: 100%
  display: inline-block
  position: relative
  & span
    position: absolute
    font-size: 46px
    font-weight: bold
    top: 17px
    left: 15px

#new-story-page
  & section
  & aside
    display:inline-block;
  & aside
    & input
    & button
      display:block
  & section
    vertical-align: top
    width: 50%
    margin-right:10px

.content
  text-align: left
  min-height: 100px
  border: 1px dashed hsl(0, 0%, 80%)
  &:hover
  &:active
    border-color: hsl(0, 0%, 90%)
    background: white

.content[contenteditable="true"]
  border-radius: 5px
  padding: 10px


input.input
  background: white;
  margin: 0 2px 10px;
  padding: 7px 10px;
  border: 1px solid #BBB;
  border-radius: 2px;
  box-shadow: 0 1px 1px #fff;
  font: 15px/18px Helvetica Neue,"Arial",Helvetica,Verdana,sans-serif;
  text-shadow: 0 0 1px white;
  color: #555;
  width: 270px;
  &:focus
    border-color: #999;

.story-preview
  display:inline-block
  padding: 10px
  margin: 5px 0
  background-color: white
  border: 1px hsl(60, 4%, 85%) solid
  box-shadow: 4px 4px 12px 0px #dddcd8
  width: 200px
  min-height:100px
  max-height:100px
  margin: 5px
  vertical-align: top
  text-align:left
  position: relative
  & footer
    absolute:bottom 5px
  & .extra-story-info
    color: gray
    font-size: 12px
    absolute:bottom 22px

article.page
  & header
    margin: 30px 0 10px
    position: relative
    & h1
      font-size: 20px
  & nav
    absolute: right 10px top -65px
    & ul li
      display: inline-block
      margin-right: 10px

a
  cursor:pointer
  text-decoration: none

a.link
a.nav-link
  color:pink
  &:visited
  &:-webkit-any-link
    color:pink
  &:hover
  &:active
    color:darkPink

a.nav-link:before
  content:'::'
  position: relative;
  top: -1.5px;
  left: -2px;

.button
  smooth-button(pink)
  border-radius: 20px
  font-family: Arial,sans-serif;
  font-size: 18px
  &:before
    color rgba(0,0,0,0.5)
    position relative
    left -13px
    top 2px
    line-height 10px
    font-family 'IconicStroke'
    font-size 18px
    font-weight normal


.cursive
  font-family: 'Gloria Hallelujah', cursive
  font-size: 18px;

.pink-cursive
  font-family: 'Gloria Hallelujah', cursive
  font-size: 18px;
  color:pink

.story-content
  & > section
  & > aside
   display: inline-block
  & > aside
   margin-left:20px


.story-view-text
  padding: 10px
  min-height: 200px
  text-align: left
  width: 60%
  border: 1px dashed hsl(0, 0%, 80%)
  margin-bottom: 20px

.hidden
  display:none!important
